extends ./layout

mixin card(data)
  -var section = data.content.split('\n');
  div.card(class=data.img?'has-img':'' )
    -if(data.img)
      div.img-wrapper
        img(src='uploads/'+data.img)
    div.card-content
      -for sec in section
        p #{sec}
      h3 
        span.name-icon #{data.User.email[0]}
        |#{data.User.email}
        span.time #{new Date(data.createdAt).toLocaleTimeString()} 

block body
  .container.index-page
    h1 Posts
    -for post in posts
      +card(post)

    
block scripts
