extends ./layout

mixin card(data)
  div.card
    -if(data.img)
      img(src=data.img)
    pre #{data.content}  
    h3 
      span.name-icon #{data.User.email[0]}
      |#{data.User.email}
      span.time #{new Date(data.createdAt).toLocaleTimeString()} 

block body
  .container.index-page
    h1 Posts
    -for post in posts
      +card(post)

    
block scripts
